:root {
  --akcent-color: #2196f3;
  --title-color: #212121;
  --descr-color: #757575;
  --bgd-color: #ffffff;
  --logo-color: #000000;
  --footer-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --team-bgd-color: #f5f4fa;
  --button-active-color: #188ce8;
  --hero-bgd-style-color: #c4c4c4;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--descr-color);
  background-color: var(--bgd-color);
}

/* глобальні стилі */

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* header */

.top-line {
  background-color: var(--bgd-color);
  border-bottom: 1px solid #ececec;
}

.top-line-container {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-stile {
  color: var(--akcent-color);
}

.navigation {
  margin-left: 93px;
}

.navigation :hover,
.navigation :focus {
  color: var(--akcent-color);
}

.nav-menu {
  display: flex;
}

.nav-item:not(:first-child) {
  margin-left: 50px;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.curent {
  color: var(--akcent-color);
}

.contact-menu {
  display: flex;
  margin-left: auto;
}

.contact-menu :hover,
.contact-menu :focus {
  color: var(--akcent-color);
}

.contacts-title {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--descr-color);
}

.contact-menu .contacts:not(:last-child) {
  margin-right: 50px;
}
/* герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--footer-color);
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bgd-color);
}

.hero-button {
  padding: 10px 32px;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--bgd-color);
  background-color: var(--akcent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-active-color);
}

/*особливості*/

.speciality-header {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  visibility: hidden;
}

.speciality-menu {
  display: flex;
  gap: 30px;
}

.speciality-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.speciality-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

/* чим ми займаємось*/
.section-practice {
  padding-top: 0;
}

.practice-menu {
  display: flex;
  gap: 30px;
}

.practice-img {
  display: block;
}

/* команда */

.team {
  background-color: var(--team-bgd-color);
}

.team-menu {
  display: flex;
  gap: 30px;
}
.descr-conteiner {
  padding: 30px 32px;
}

.person-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.person-descr {
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.person-img {
  display: block;
}

.team-card {
  text-align: center;
  width: 270px;
  background-color: var(--bgd-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* footer */

.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--bgd-color);
}

.style-logo-footer {
  color: var(--akcent-color);
}

.footer-adress {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--bgd-color);
}

.footer-contact {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  text-decoration: none;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-item :hover,
.footer-item :focus {
  color: var(--akcent-color);
}

/* портфоліо */

/* кнопки */

.filter-menu {
  display: flex;
  margin-bottom: 50px;
  margin-left: 297px;
}

.filter-title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  visibility: hidden;
}

.title-filter {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter-menu {
  gap: 8px;
}

.filter-menu :hover,
.filter-menu :focus {
  color: var(--bgd-color);
  background-color: var(--akcent-color);
  border-color: var(--akcent-color);
  border-radius: 4px;
}

/* розділи */
.top-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item-top {
  list-style: none;
  width: 370px;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.project-descr {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.item-img {
  display: block;
}

.item-top-descr {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 24px 20px;
}
